My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "erp-assistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4ed5d38c-3c28-42df-9ec9-78310f7a48af",
      "name": "Webhook",
      "webhookId": "ecb5f99a-ac1c-490e-b225-96abb7cb09e4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/ask",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": \"{{ $json.body.question }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "a36ca5cb-12fa-4edb-a7f7-9db6315ff84b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "3131fdae-4edc-4163-9907-ebcd778279cd",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b7ac082f-9520-4e74-aa18-c11d3048515f",
  "meta": {
    "instanceId": "0e6426b95c6bc3f18ce1ec5dee57fd4d7af0700ae672b5908cb4f822bac8f1fd"
  },
  "id": "viBPvvwuvZtoFZRD",
  "tags": []
}